# $Date: 2021-04-03 22:29:30+09 $
# $Revision: 1.1 $

# Wolfram Workbench
.WolframResources

# Eclipse project file
.project

# Folders
Drafts/
Ecole/
Scripts/
Slides/
Temple/
Tests/

build/
docbuild*