# Folders
Drafts/
Ecole/
Slides/
Temple/
Tests/

# InVideos is included for Makefile. However, *.Playbook.nb
# and *.Playbook.pdf are excluded anyway (see the global .gitignore file.

!*.Playbook.nb

# Build related
build/
docbuild*