# Folders
Drafts/
Ecole/
Slides/
Temple/
Tests/
# InVideos is include for Makefile and because *.Playbook.nb
# and *.Playbook.pdf are excluded anyway (see the global .gitignore file.

# Build related
build/
docbuild*